<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Baseclass.Contrib.Nuget.Output" version="1.0.0" targetFramework="net45" />
  <package id="FluentValidation" version="5.5.0.0" targetFramework="net45" />
  <package id="libsodium-net" version="0.6.0" targetFramework="net45" />
  <package id="NClone" version="1.1.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="NLog" version="3.2.0.0" targetFramework="net45" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.4.3" targetFramework="net45" />
  <package id="ServiceStack.Common.Signed" version="4.0.36" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.0.36" targetFramework="net45" />
  <package id="ServiceStack.Redis.Signed" version="4.0.36" targetFramework="net45" />
  <package id="ServiceStack.Text.Signed" version="4.0.36" targetFramework="net45" />
  <package id="Termine.Promises.Base" version="0.0.5532.41627" targetFramework="net45" />
  <package id="Termine.Promises.Encryption" version="0.0.5529.29874" targetFramework="net45" />
  <package id="Termine.Promises.ExectionControlWithRedis" version="0.0.5532.41735" targetFramework="net45" />
  <package id="Termine.Promises.FluentValidation" version="0.0.5532.41700" targetFramework="net45" />
  <package id="Termine.Promises.NLogInstrumentation" version="0.0.5532.41735" targetFramework="net45" />
  <package id="Termine.Promises.Web" version="0.0.5532.41770" targetFramework="net45" />
  <package id="Termine.Promises.WithProtobuf" version="0.0.5532.41735" targetFramework="net45" />
  <package id="Termine.Promises.WithRedis" version="0.0.5532.41735" targetFramework="net45" />
  <package id="Termine.Promises.ZMQ" version="0.0.5532.41738" targetFramework="net45" />
</packages>