<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>
	<connectionStrings>
		<add name="TestConsumePromise.Properties.Settings.Redis" connectionString="redis://olr-docbinder:qP7lmy3A@pub-redis-13077.us-east-1-2.2.ec2.garantiadata.com:13077" />
	</connectionStrings>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="log4view" xsi:type="NLogViewer" address="udp://127.0.0.1:877" />
		</targets>
		<rules>
			<logger name="*" minlevel="Trace" writeTo="log4view" />
		</rules>
	</nlog>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	</system.web>
	<system.webServer>
		<handlers>
			<add name="PromisesHandler" path="TestPromise" verb="POST" type="Termine.Promises.Web.PromisesHandler`2[[TestConsumePromise.TestPromise, TestConsumePromise],[TestConsumePromise.TestPromiseWorkload, TestConsumePromise]], Termine.Promises.Web" />
			<add name="PromisesHandler-2" path="TestPromise-2" verb="POST" type="Termine.Promises.Web.PromisesHandler`2[[TestConsumePromise.TestPromise, TestConsumePromise],[TestConsumePromise.TestPromiseWorkload, TestConsumePromise]], Termine.Promises.Web" />
			<add name="EchoHandler" path="echo" verb="*" type="TestConsumePromise.EchoHandler, TestConsumePromise" />
		</handlers>
	</system.webServer>
</configuration>